@import "./mixins";
@import "./variables";

.contact {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  background-color: $footer;
  color: white;
  &__title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  &__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &__item {
      @include center;
      span {
        font-size: 2rem;
        color: $primary;
      }
      & > div {
        margin-left: 20px;
        & > div:nth-child(1) {
          font-size: 1.2rem;
        }
        & > div:nth-child(2) {
          font-size: 1rem;
          color: $gray-500;
        }
      }
    }
    @include medium {
      display: flex;
      flex-direction: column;
      align-items: start;
      &__item {
        margin-bottom: 30px;
      }
    }
  }
}
